<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511588844771-354elg7gem98avlrpvu9ljpajlj4lk7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511588844771-354elg7gem98avlrpvu9ljpajlj4lk7m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>511588844771-tfacf8vlh452aesnf4qg7ke687nmvhrr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDs-Qw2bGylLH5T4Uwo6GW0KJT5d2WLvY</string>
	<key>GCM_SENDER_ID</key>
	<string>511588844771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>groupg7.com.exportsandcharts</string>
	<key>PROJECT_ID</key>
	<string>groupg7-487ad</string>
	<key>STORAGE_BUCKET</key>
	<string>groupg7-487ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511588844771:ios:25c7068ed8b8b0a914b1d6</string>
</dict>
</plist>